{% extends 'base.html' %}

{% block content %}
    {% if success %}

    {% url 'home' as home %}

    <p>Go back to <a href="{% url 'home' %}">homepage</a></p>

    {% else %}

    <h1>Conformation</h1>
    <h2>{{ detial.name }}</h2>
    <p><img src="{{ detial.pic_link }}" /></p>
    <p><strong>Item left:</strong> {{ detial.quantity_left }}</p>
    <p><strong>Item Acquired:</strong> {{ detial.quantity_acquired }}</p>
    <p><strong>Buyer:</strong> <a href="{{ detial.buyer_url }}">{{ detial.buyer }}</a></p> <!-- author detail link not yet defined -->
    <p><strong>Message from buyer:</strong> {{ detial.tradeinfo }}</p>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Confirm!</button>
    </form>

    {% endif %}
{% endblock %}
