{% extends 'base.html' %}

{% block content %}
    <h1>{{ detial.name }}</h1>
    <p><img src="{{ detial.pic_link }}" /></p>
    <p><strong>Seller:</strong> <a href="{{ detial.user_url }}">{{ detial.seller }}</a></p> <!-- author detail link not yet defined -->
    <p><strong>Detials:</strong> {{ detial.description }}</p>
    <p><strong>Date:</strong> {{ detial.date }}</p>
    {% if detial.quantity > 0 %}
        <p><strong>Quantity:</strong> {{ detial.quantity }}</p>
        <p><strong>Price:</strong> {{ detial.price }}</p>

        {% if denied %}

            <p><strong>This is your own product</strong></p>
            
        {% else %}

            <p><a href="{{ detial.order_url }}"><strong>Buy!!!</strong></a></p>

        {% endif %}

    {% else %}
        <p><strong>SOLD OUT!</strong>
    {% endif %}
{% endblock %}
