{% extends 'base.html' %}

{% block content %}
    {% if success %}

    {% url 'home' as home %}
    <p>Go back to <a href="{% url 'home' %}">homepage</a></p>

    {% else %}

    <h1>{{ detial.name }}</h1>
    <p><img src="{{ detial.pic_link }}" /></p>
    <p><strong>Seller:</strong> <a href="{{ detial.user_url }}">{{ detial.seller }}</a></p> <!-- author detail link not yet defined -->
    <p><strong>Detials:</strong> {{ detial.description }}</p>
    <p><strong>Items left:</strong> {{ detial.quantity }}</p>
    <p><strong>Price:</strong> {{ detial.price }}</p>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit order">Order!</button>
    </form>

    {% endif %}

{% endblock %}
