{% extends 'base.html' %}

{% block content %}

    {% if success %}

        {% url 'home' as home %}
        <p><strong>Succeed !</strong></p>
        <p>Go back to <a href="{% url 'home' %}">homepage</a></p>

    {% else %}

    <div class="container product">
        <div class="left-column">
            <img src="{{ detial.pic_link }}" alt="">
        </div>
            <div class="right-column">
            <!-- Product Description -->
                <div class="product-description">
                    <span>{{ detial.category }}</span><span style="float: right">{{ detial.date }}</span>
                    <h1>{{ detial.name }}</h1>
                    <p>{{ detial.description }}</p>
            </div>

          <h2>Update Product</h2>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Update!</button>
              </form>
          </div>
      </div>

     {% endif %}

{% endblock %}
