{% load staticfiles %}
<div>
    <footer>
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <p>Copyright SUTD 50.008 Database. All Rights Reserved.</p>
                        <img src="{% static "images/sutd-logo.png" %}" style="height: 100px">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<button id="backToTopBtn" title="Go to top"><img src="{% static "images/top.png" %}" style="height: 50px; width: 50px"></button>
