<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={% url 'home' %}>SUTD 2nd Hand Trading</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          {% url 'home' as home %}
        <li {% if request.path == home %} class = "active" {% endif %}><a href="{% url 'home' %}">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        <li><a href="/accounts/profile/">Hi, {{ user.get_username }}!</a></li>
        <li><a href="/products/post/">Sell an item !</a></li>
        <li><a href="/accounts/signout/">Logout</a></li>
        {% else %}
        <li><a href="/accounts/login">Login</a></li>
      {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
