{% extends 'base.html' %}

{% block styles %}
<style>
.jumbotron{
    text-align: center;
}

</style>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
      <h1>{{seller.seller}}</h1>

    </div>
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <h3>Selling Products</h3><hr>
                    <ul class=list-group">
                    {% for product in product_list %}
                        <li class="list-group-item justify-content-between">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="{{ product.product_pic_link }}" width="150px" height="100px">
                                </div>
                                <div class="col-md-3 no-float">
                                    <h3><strong>{{product.p_name}}</strong></h3>
                                </div>
                                <div class="col-md-3" style="vertical-align: middle">
                                    <p><strong>Quantity: </strong>{{ product.p_quantity }}</p>
                                    <a href="{{ product.detial }}" role="button" class="btn"><strong>More</strong></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div><!-- /col-sm-12 -->
            </div><!-- /row -->
            <div class="row">
                <div class="col-sm-12">
                    <h3>Comments</h3>
                    <hr>
                </div><!-- /col-sm-12 -->
            </div><!-- /row -->

            {% for comment in comment_list %}

            <div class="row">
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="{{ comment.profile_pic }}">
                    </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->

                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{ comment.FeedbackUser }}</strong> <span class="text-muted">commented {{ comment.date_ago }} days ago &#9658; {{ comment.p_name }}</span>
                        </div>
                        <div class="panel-body">
                            {{ comment.f_content }}
                        </div><!-- /panel-body -->
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p>Average Rating: {{ comment.score }}</p>
                                </div>
                                <div class="col-sm-7" align="right">
                                    {% if comment.current_rating == 0 %}
                                        <div id="rateYo{{ comment.f_id }}"></div>
                                        <script>
                                            $(function () {
                                                var starrate = $("#rateYo{{ comment.f_id }}");
                                                starrate = starrate.rateYo({
                                                    starWidth: "20px",
                                                    fullStar: true,
                                                });
                                                starrate.rateYo().on("rateyo.set", function (e, data) {
                                                    starrate.rateYo("option", "readOnly", true);
                                                    $.post(window.location.href, {rate: data['rating'],
                                                        feedback_user:"{{ comment.FeedbackUser }}",
                                                        rating_user:"{{ user.get_username }}",
                                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                                        product: '{{ comment.p_id }}',
                                                        Feedback_id: '{{ comment.f_id }}'});
                                                });
                                            })
                                        </script>
                                    {% else %}
                                        <div id="rateYo{{ comment.f_id }}"></div>
                                        <script>
                                            $(function () {
                                                var starrate = $("#rateYo{{ comment.f_id }}");
                                                starrate = starrate.rateYo({
                                                    rating    : {{ comment.current_rating }},
                                                    starWidth: "20px",
                                                    fullStar: true,
                                                });
                                                starrate.rateYo("option", "readOnly", true);
                                            })
                                        </script>
                                    {% endif %}

                                </div>


                            </div>
                        </div>
                    </div><!-- /panel panel-default -->
                </div><!-- /col-sm-8 -->
            </div><!-- /row -->

            {% endfor %}

        </div><!-- /container -->
{% endblock %}
